.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}
.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;

  @media (min-width: @mobile-width) {
    margin-left: 10px;
    width: 104px;
  }

  @media (min-width: @desktop-width) {
    width: 114px;
    margin-left: 14px;
  }
}
.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 300;
  color: #3b3b3b;
  height: 50px;
  line-height: 60px;
  cursor: pointer;
  background: #f8f8f8;
  border: 1px solid #e4e4e4;
  border-radius: 5px;

  @media (min-width: @mobile-width) {
    width: 74px;
  }

  @media (min-width: @desktop-width) {
    width: 94px;
  }
}

.custom-select__trigger p {
  @media (min-width: @mobile-width) {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #212121;
    display: flex;
    align-items: flex-end;
    margin-left: 5px;
    margin-top: 8px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 10px;
    margin-top: 8px;
  }
}

.custom-select__trigger img {
  @media (min-width: @mobile-width) {
    margin-left: 3px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 10px;
  }
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #e4e4e4;
  border-top: 0;
  background: #f8f8f8;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}
.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-option {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  text-align: center;
  color: #212121;
  cursor: pointer;
  transition: all 0.5s;
}
.custom-option:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}
.custom-option.selected {

 color: #3b3b3b;
}

.arrow img {
  display: block;
  position: relative;
  height: 6px;
  width: 16px;
}
// .arrow::before, .arrow::after {
//   content: "";
//   position: absolute;
//   bottom: 0px;
//   width: 0.15rem;
//   height: 100%;
//   transition: all 0.5s;
// }
// .arrow::before {
//   left: -5px;
//   transform: rotate(45deg);
//   background-color: #394a6d;
// }
// .arrow::after {
//   left: 5px;
//   transform: rotate(-45deg);
//   background-color: #394a6d;
// }
// .open .arrow::before {
//   left: -5px;
//   transform: rotate(-45deg);
// }
// .open .arrow::after {
//   left: 5px;
//   transform: rotate(45deg);
// }
