@desktop-width: 1280px;
@mobile-width: 320px;
@content-white-background: #F4F4F4;
@form-title-white-background: #F8F8F8;
@text-black: #212121;
@button-green: #428A60;
@main-white: #ffffff;
@mobile-background: #e5e5e5;
@custom-select-trigger-color: #3b3b3b;
@custom-select-trigger-text-color: #212121;
@custom-options-white: #e4e4e4;
@custom-options-hover-grey: #b2b2b2;
